@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 9, 9, 11;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(39, 39, 42);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 70);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 91);
}
